@import url('https://fonts.googleapis.com/css2?family= Poppins & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("./assets/12188647_white.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    overflow: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

b{
    font-size: 40px;
    color: #7f00ff;
}

.navItems{
    display: flex;
}

.navItems li{
    list-style: none;
    margin: 0 15px;
}

.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}

.navItems li:hover a,
.Links a:hover{
    color: #7f00ff;
}

.links a{
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}

.ale {
    width: 110px;
}

.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}


.cols{
    width: 50%;
}

.cols0{
    width: 60%;
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}

h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #3d535f;
}

.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}

p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}

.btns{
    width: 100%;
    position: relative;
    left: 150px;
    margin-top: 3%;
    margin-left: -10%;
}

.a2{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 5px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    text-decoration: none;
}

.a2:hover{
    background-color: #7f00ff;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {
    body {
        background-size: cover; 
        padding: 5px;
    }

    .container {
        margin: 9px;
    }

    .navItems {
        justify-content: space-between;
    }

    .navItems li a {
        font-size: 16px;
        font-weight: 500;
    }

    .logo {
        font-size: 18px;
    }

    .links {
        position: absolute;
        margin-top: 40%;
    }

    .logo b {
        font-size: 21px;
    }

    .wrapper {
        width: 900px;
        margin-left: -35%;
    }

    .cols h1 {
        font-size: 3rem;
    }

    .btns {
        display: flex;
        flex-direction: row;
        margin-left: -20%;
    }
}

@media (max-width: 480px) {
    body {
        background-position: center;
    }

    .navItems {
        flex-direction: column;
        height: auto;
    }

    .navItems li {
        margin: 10px 0;
    }

    .links img {
        position: relative;
        margin-left: -25%;
    }

    .cols {
        height: 450px;
        width: 100vw;
        margin-left: -23%;
        padding: 10px;
        margin-top: 40%;
    }
}
